HISTORY_LIMIT=

# QDRANT DB settings
# QDRANT_URL=
QDRANT_URL=
QDRANT_PORT=
QDRANT_COLLECTION=
QDRANT_IMAGE_COLLECTION=

# LLM API keys
GOOGLE_API_KEY=
OPENAI_API_KEY=

# LANGFUSE keys
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=

# USER and PASSWORD for WIKI files crawling
USERNAME=
PASSWORD=
